name: CI Pipeline

on:
  push:
    branches: [ main ]

jobs:
  test:
    uses: ./.github/workflows/class3-example6-workflow-dispatch.yaml
    with:
      java-version: "17"
    secrets:
      GH_TOKEN: ${{ secrets.GH_TOKEN }}

  deploy:
    needs: test
    runs-on: ubuntu-latest
    if: needs.test.outputs.test-status == 'success'
    steps:
      - name: Deploy application
        run: echo "Deploying Java application..."
