name: Manual Trigger Java Workflow

on:
  workflow_dispatch:
    inputs:
      environment:
        description: "Choose environment"
        required: true
        default: "dev"
        type: choice
        options:
          - dev
          - staging
          - prod

      run-tests:
        description: "Run Maven tests?"
        required: false
        default: false
        type: boolean

jobs:
  manual:
    runs-on: ubuntu-latest

    steps:
      - name: Print Selected Environment
        run: echo "Environment selected: ${{ inputs.environment }}"

      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          java-version: "17"
          distribution: temurin

      - name: Run Tests (Conditional)
        if: ${{ inputs.run-tests }}
        working-directory: Javarepo1
        run: mvn test
