name: CI Manual Trigger

on:
  workflow_dispatch:
    inputs:
      environment:
        description: "Select environment"
        required: true
        default: dev
        type: choice
        options:
          - dev
          - staging
          - prod

      run_tests:
        description: "Run tests?"
        required: false
        default: false
        type: boolean

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Print selected environment
        run: echo "Environment selected: ${{ inputs.environment }}"

      - name: Run tests (conditional)
        if: ${{ inputs.run_tests }}
        run: echo "Running tests..."
