name: Manual Trigger Workflow

on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Choose environment'
        required: true
        default: 'dev'
        type: string
      run-tests:
        description: 'Run tests?'
        required: false
        default: 'false'
        type: boolean

jobs:
  manual-trigger:
    runs-on: ubuntu-latest
    steps:
      - name: Print Environment
        run: |
          echo "Environment: ${{ inputs.environment }}"
      - name: Conditional Test Step
        if: ${{ inputs.run-tests == 'true' }}
        run: echo "Running tests as requested!"
