name: Main Workflow

on:
  push:
    branches:
      - main

jobs:
  test:
    uses: ./.github/workflows/class3-example6-workflow-dispatch.yaml
    with:
      node-version: "20"
    secrets:
      GH_TOKEN: ${{ secrets.GH_TOKEN }}

  deploy:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Deploy application
        run: |
          echo "Deploying application based on test result: ${{ needs.test.outputs.test-status }}"
