name: Reusable Test Workflow (Java)

on:
  workflow_call:
    inputs:
      java-version:
        required: true
        type: string
    secrets:
      GH_TOKEN:
        required: true
    outputs:
      test-status:
        description: "Result of test execution"
        value: ${{ jobs.test.outputs.status }}

jobs:
  test:
    runs-on: ubuntu-latest
    outputs:
      status: ${{ steps.result.outputs.status }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          java-version: ${{ inputs.java-version }}
          distribution: temurin

      - name: Run Maven Tests
        working-directory: Javarepo1
        run: mvn test

      - name: Set test result
        id: result
        run: echo "status=success" >> $GITHUB_OUTPUT
